/******************************
Generic CSS for entire page
*******************************/

body, html {
  height: 100%;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

* {
  box-sizing: border-box;
}

h3, h5 {
  font-family: 'Risque', cursive;
  font-size: 20px;
}


/**************************
CSS for header section 
**************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Risque', cursive;
  font-size: 35px;
}



/**************************
CSS for secton on work
**************************/

#work_section_area {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  border: 2px solid yellow;
}