/******************************
Generic CSS for entire page
*******************************/

body, html {
  height: 100%;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

h3 {
  color: black;
}

h3, h5 {
  font-family: 'Risque', cursive;
  font-size: 20px;
}

a {
  color: black;
}

a:hover {
  color: orange;
}


/**************************
CSS for header section 
**************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Risque', cursive;
  font-size: 35px;
}



/**************************
CSS for secton on work
**************************/

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

div {
  margin: 30px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 5px 10px #888888;
}


/*#work_section_area {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  border: 2px solid yellow;
}*/