main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 2px solid black;
  border-radius: 8px;
}

tr th {
  padding: 10px;
}

tr td {
  text-align: center;
  border: 1px solid black;
}

tr:nth-of-type(even) {
  background-color: #55D8F2;
}