/* This file will have code in it for all of the pages. */

.center {
  text-align: center;
}

.font {
  font-family: 'Shadows Into Light', cursive;
}

.wrapper {
  background-color: rgb(108,32,22);
}

/* Navbar color */

.bg-company-red {
  background-color: white;
  border-bottom: 2px solid black;
}

.nav_bar_link:hover {
  background-color: rgb(108,32,22);
  border-radius: 10px;
}


/* CSS for the Footer */ 
footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-size: 30px;
}

.footer_anchor {
  background-color: blue;
}

.icon-cog {
  color: rgb(108,32,22);
}


/* CSS for the input and links */ 

input {
  background-color: white;
  padding: 5px;
}

input:hover {
  background-color: rgb(166,16,30);
  color: white;
}

.anchor_style {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.anchor_style:hover {
  color: rgb(166,16,30);
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}