/* This file will cover all of the code for the landing page. */
body, html {
    height: 100%;
}

.landing_main {
  background-image: url('../../assets/images/shining.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing_div {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  border-radius: 12px
}

div h1 a {
  color: white;
  text-decoration: none;
}

div h1 a:hover {
  color: rgb(166,16,30);
  text-decoration: none;
}

.landing_paragraph {
  font-size: 30px;
}