/* This page will have all of the css for the room_list.php page */

header {
  color: white;
}

.main_area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  height: 80vh;
}

/* CSS for the two sections on the page */

.table_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  margin-bottom: 30px;
  border: 2px solid white;
}

th {
  border: 2px solid white;
  text-align: center;
}

tr td {
  border: 2px solid white;
  padding: 10px;
}

.image_section {
  background-image: url('../../assets/images/face.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link_fix {
  display: flex;
  flex-direction: row;
}

/* Media Query Area */
@media only all and (max-width: 768px) {

  .main_area {
    grid-template-columns: 1fr;
  }

}