/* This file deals with all the CSS for the home.php file in the comments folder */

.jumbotron {
  height: 500px;
  background-image: url('../../assets/image/jumbo_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text_background {
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  border-radius: 12px;
}

.comment_box_top_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.comment_box {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.button_div {
  display: flex;
  flex-direction: row;
}

.add_comment_anchor:hover {
  text-decoration: none;
  color: #EB650D;
}

.see_form {
  background-color: #149AF2;
  color: #333;
  border-color: #149AF2;
}

.middle_form {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #EB650D;
  color: #333;
  border-color: #EB650D;
}


